{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{% static 'ligtas_ani/css/index.css' %}" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="{%static 'ligtas_ani/img/logo.png'%}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.2/dist/minty/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
        <title>LigtasAni</title>
    </head>
    <body>
    <nav class="navbar navbar-expand-sm bg-light px-2 fixed-top">
        <div class="container-fluid shadow-none p-3 bg-light rounded">
            <a class="navbar-brand" style="color: black" href="">
                <img src="{%static 'ligtas_ani/img/plant_logo.png'%}" style="width:5rem;" class="rounded-pill">
                <b>LigtasAni</b>
            </a>
            <a class="navbar-brand" href="{% url 'ligtas_ani:add_location' %}">Soil Acidity</a>
            <a class="navbar-brand" href="{% url 'ligtas_ani:index' %}">Homepage</a>
        </div>
    </nav>
    <section class="page-section" id="landing" style="background-color: #C7CAB9; height: auto; background-size: cover;">
            <div class="bubble-container">
              <img class="bubble" id="asset-1" src="{% static 'ligtas_ani/img/asset_1.png' %}">
              <img class="bubble" id="logo" src="{% static 'ligtas_ani/img/logo.png' %}">
            </div>
            <div class="container d-flex flex-column align-items-center">
                  <img class="title" style="height: auto; width: 30rem;" src="{% static 'ligtas_ani/img/title.png' %}">
                  <a href="#abt"><img class="start-btn" src="{%static 'ligtas_ani/img/start-btn.png'%}"></a>
            </div>
    </section>
    <section class="page-section abt-background" id="abt">
    <style>
        .abt-background {
            background-image: url("{% static 'ligtas_ani/img/abt_bg.png' %}");
            background-size: 100% 100%;
            background-position: center;
            z-index: 20;
            position: relative;
        }
    </style>
    <div class="container abt-container">
        <img class="abt" src="{% static 'ligtas_ani/img/abt.png' %}">
    </div>
</section>
    <section class="page-section" id="guide" style="background-color: #C7CAB9; height: auto; background-size: cover;">
        <div class="vstack gap-2 container guide-container">
            <img class="guide-1" src="{% static 'ligtas_ani/img/guide_1.png' %}">
            <img id="guide-2" src="{% static 'ligtas_ani/img/guide_2.png' %}">
            <img id="guide-3" src="{% static 'ligtas_ani/img/guide_3.png' %}">
        </div>
    </section>

{#    <section>#}
{#        <a href="{% url 'ligtas_ani:add_location' %}" class="btn btn-primary">Add Farm</a>#}
{#    </section>#}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const elementsToShow = document.querySelectorAll('.title, .start-btn, .abt, .guide-1, #guide-2, #guide-3');

            function handleScroll() {
                elementsToShow.forEach(element => {
                    const rect = element.getBoundingClientRect();
                    const isVisible = rect.top < window.innerHeight && rect.bottom >= 0;
                    element.classList.toggle('visible', isVisible);
                });
            }

            window.addEventListener('scroll', handleScroll);
            handleScroll();
        });
    </script>

    <script>
    document.querySelector('a[href="#abt"]').addEventListener('click', function(e) {
        e.preventDefault();

        document.querySelector('#abt').scrollIntoView({
            behavior: 'smooth'
        });
    });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </body>
</html>